<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KID-AM | About Us</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="images/favicon.ico">
</head>
<body>
    <div class="conatiner">
        <div class="wrapper">
            <nav class="navbar">
                <ul>
                    <li class="logo"><a class="nav-item" href="/">KID-ACADEMY</a></li>
                    <li><a class="nav-item" href="/">Home</a></li>
                    <li><a class="nav-item" href="/tutorial">Tutorials</a></li>
                    <li><a href="/about-us">About Us</a></li>
                </ul>
            </nav>
            <div class="content-layout">
                <div class="instructor-list">
                    <h3>Junior Web Developer</h3>
                    <div class="instructor-list-wrapper">
                        <div class="instructor-item">
                            <img class="instructor-img" src="images/instruct/elex_kwin.jpg" alt="">
                            <div class="instructor-detail">
                                <h4>Elex</h4>
                                <p>Fouder and developer for kid-am website</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instructor-list">
                    <h3>Support Teams</h3>
                    <div class="instructor-list-wrapper" style="margin: 0 0 50px 0;">
                        <div class="about-item">
                            <div class="support-detail" style="text-align: start;">
                                <p>Official Email: <a href=""><em>kidacademy@support.com</em></a></p>
                                <p>Tel: <em>023 333 4445 | 093 678 876</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instructor-list">
                    <h3>FAQs</h3>
                    <div class="instructor-list-wrapper" style="margin: 0 0 50px 0;">
                        <div class="about-item">
                            <div class="support-detail" style="text-align: start;">
                                <ol>
                                    <li>Why you website always error 404 pge?</li>
                                    <em>Answer: Becasue maybe your internet error connection. Kindly check that issue first.</em>
                                    <li>What do you have other update course soon or not?</li>
                                    <em>Answer: Yes, Our team will be update other course soon. Thank You!.</em>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intergrate-site">
                    <h3>Intergrate Website</h3>
                    <div class="intergrate-site-wrapper">
                        <a href="" class="card-intergrate">
                            <img class="inter-img" src="images/inter/tutorialpoint.png" alt="">
                        </a>
                        <a href="" class="card-intergrate">
                            <img class="inter-img" src="images/inter/w3school.png" alt="">
                        </a>
                    </div>
                </div>
                <footer>
                    <div class="footer-wrapper">
                        <h2>KID-AM</h2>
                        <p>Copyright Reversed © 2022 By KID-ACADEMY</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>