<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KID-AM | Tutorial</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="images/favicon.ico">
</head>
<body>
    <div class="conatiner">
        <div class="wrapper">
            <nav class="navbar">
                <ul>
                    <li class="logo"><a class="nav-item" href="/">KID-ACADEMY</a></li>
                    <li><a class="nav-item" href="/">Home</a></li>
                    <li><a class="nav-item" href="/tutorial">Tutorials</a></li>
                    <li><a href="/about-us">About Us</a></li>
                </ul>
            </nav>
            <div class="content-layout">
                <section>
                    <div class="carousel">
                        <h2>WELCOME TO JOIN WITH KID-AM!</h2>
                        <h3>I'm a junior web development</h3>
                        <div class="get-start">
                            <a href="">Get Started</a>
                        </div>
                    </div>
                    <div class="card-list-course">
                        <h3>Free Course</h3>
                        <div class="card-list-course-wrapper">
                            <a href="" class="card-course">
                                <img class="card-cimg-course" src="images/uploads/html_image.jpg" alt="course-mage">
                                <div class="card-title-course">
                                    <b>HTML: </b> Introdaction to beginner html
                                </div>
                                <div class="card-text-course">
                                    ⭐️⭐️⭐️⭐️⭐️
                                </div>
                            </a>
                            <a href="" class="card-course">
                                <img class="card-cimg-course" src="images/uploads/css_image.jpg" alt="course-mage">
                                <div class="card-title-course">
                                    <b>CSS:</b> Introdaction to beginner css
                                </div>
                                <div class="card-text-course">
                                    ⭐️⭐️⭐️⭐️⭐️
                                </div>
                            </a>
                            <a href="" class="card-course">
                                <img class="card-cimg-course" src="images/uploads/javascript.jpg" alt="course-mage">
                                <div class="card-title-course">
                                    <b>JavaScript:</b> Introdaction to beginner javascript
                                </div>
                                <div class="card-text-course">
                                    ⭐️⭐️⭐️⭐️⭐️
                                </div>
                            </a>
                            <a href="" class="card-course">
                                <img class="card-cimg-course" src="images/uploads/nodejs.jpg" alt="course-mage">
                                <div class="card-title-course">
                                    <b>Node Js:</b> Introdaction to beginner node js
                                </div>
                                <div class="card-text-course">
                                    ⭐️⭐️⭐️⭐️⭐️
                                </div>
                            </a>
                            <a href="" class="card-course">
                                <img class="card-cimg-course" src="images/uploads/laravel.jpg" alt="course-mage">
                                <div class="card-title-course">
                                    <b>Laravel:</b> Introdaction to beginner laravel
                                </div>
                                <div class="card-text-course">
                                    ⭐️⭐️⭐️⭐️⭐️
                                </div>
                            </a>
                            <a href="" class="card-course">
                                <img class="card-cimg-course" src="images/uploads/angular.jpg" alt="course-mage">
                                <div class="card-title-course">
                                    <b>Angular:</b> Introdaction to beginner angular
                                </div>
                                <div class="card-text-course">
                                    ⭐️⭐️⭐️⭐️⭐️
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <div class="instructor-list">
                    <h3>Instructors</h3>
                    <div class="instructor-list-wrapper">
                        <div class="instructor-item">
                            <img class="instructor-img" src="images/instruct/elex_kwin.jpg" alt="">
                            <div class="instructor-detail">
                                <h4>Elex</h4>
                                <p>Fouder and developer for kid-am website</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intergrate-site">
                    <h3>Intergrate Website</h3>
                    <div class="intergrate-site-wrapper">
                        <a href="" class="card-intergrate">
                            <img class="inter-img" src="images/inter/tutorialpoint.png" alt="">
                        </a>
                        <a href="" class="card-intergrate">
                            <img class="inter-img" src="images/inter/w3school.png" alt="">
                        </a>
                    </div>
                </div>
                <footer>
                    <div class="footer-wrapper">
                        <h2>KID-AM</h2>
                        <p>Copyright Reversed © 2022 By KID-ACADEMY</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>