<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="icon" href="./assets/images/favicon.ico">
</head>
<body>
    <div class="conatiner">
        <div class="wrapper">
            <nav class="navbar">
                <ul>
                    <li class="logo"><a href="">K🐶D-AM</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Tutorials</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
            <div class="content-layout">
                <section>
                    Text
                </section>
                <footer>
                    <div class="footer-wrapper">
                        <h2>KID-AM</h2>
                        <p>Copyright Reversed © 2022 By KID-ACADEMY</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>